h1 {
color: white;
font-weight: 300;
font-style: oblique;
border: 10px solid navy;
background-color: navy;
text-align: center;
}


form{

    text-align: center;
}
a{
   color: rgb(255, 0, 157); 
}


  







