h1{
    color: white;
    font-weight: 300;
    font-style:inherit;
    border: 10px solid rgb(0, 128, 21);
    background-color: rgb(4, 128, 0);
    text-align: center;

}
body{
    text-align:left ;
}